body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  padding: 20px;
  text-align: center;
}

select {
  padding: 8px;
  margin: 10px;
}

#careBox {
  margin-top: 20px;
  background: white;
  padding: 15px;
  border-radius: 8px;
}

img {
  width: 200px;
  margin: 10px 0;
  border-radius: 8px;
}
